/* FONT POUR PAGE CONTACT ET INSCRIPTIONS/CONNEXION*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/******************\
        MENU
\******************/

nav {
  width: 110px;
  height: 100%;
  position: relative;
  z-index: 9999;
}

nav .toggle {
  width: 40px;
  height: 40px;
  /*border: 3px solid #000;*/
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotateZ(45deg) translateX(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  z-index: 9999;
}

nav .toggle .burger {
  position: relative;
  width: 20px;
  top: 13px;
  left: 10px;
  -webkit-transform: rotateZ(135deg) translateX(0px);
  transform: rotateZ(135deg) translateX(0px);
}

nav .toggle span {
  width: 20px;
  height: 2px;
  background: #000;
  margin-bottom: 4px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .toggle-active {
  position: fixed;
  -webkit-transform: rotateZ(225deg) translateX(0px);
  transform: rotateZ(225deg) translateX(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .toggle-active span:first-child {
  opacity: 1;
  top: 6px;
  position: relative;
  visibility: visible;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav .toggle-active span {
  opacity: 0;
  visibility: hidden;
}

nav .toggle-active span:last-of-type {
  opacity: 1;
  position: relative;
  top: -6px;
  visibility: visible;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-wrapper {
  width: 80%;
  height: 100%;
  background: #ECECEC;
  display: block;
  position: fixed;
  left: -100%;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-wrapper ul {
  position: absolute;
  width: 100%;
  top: 100px;
  left: -100px;
  padding: 0;
  list-style-type: none;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.nav-wrapper ul li {
  width: 90%;
  height: 65px;
  padding-left: 30px;
  position: relative;
  display: table;
  font-weight: bold;
}

.nav-wrapper ul li:before {
  content: " ";
  width: 5px;
  height: 100%;
  background: rgb(99, 99, 99);
  position: absolute;
  left: -10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-wrapper ul li:hover:before {
  left: 0;
}

.nav-wrapper ul li a {
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.nav-wrapper ul .current:before {
  content: " ";
  width: 5px;
  height: 100%;
  background: rgb(82, 82, 82);
  position: absolute;
  left: 0;
}

.nav-wrapper .active {
  left: 0;
  opacity: 1;
}

.nav-wrapper-active {
  width: 80%;
  left: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #ccc;
  z-index: 5;
  display: none;
}

/********************\
    PAGE D'ACCUEIL
\********************/

.title_tel{
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#container_home{
  height: auto;
  position: relative;
  top: 120px;
}

#container_home p{
  background-color: rgb(61, 61, 61);
  height: 220px;
  margin: 0 0 5px 0;
  color: #fff;
  text-align: center;
  font-size: 80px;
}

/*******************\
    PAGE BOUTIQUE
\*******************/

#container_shop{
  position: relative;
  top: 140px;
  text-align: center;
}

#container_shop p{
  display: inline-block;
  margin: 0 20px 30px 20px;
}

#container_shop img{
  height: 113px;
  width: auto;
}

/*******************\
    PAGE A PROPOS
\*******************/

#title_about_us{
  position: absolute;
  top: 120px;
  height: auto;
  width: 100%;
}

#title_about_us h1{
  text-align: center;
  font-size: 27px;
}

#container_about_us{
  position: relative;
  top: 190px;
  height: auto;
  text-align: center;
}

#container_about_us img{
  height: auto;
  width: 100%;
}

#picture_about_stockist{
  /*background-color: rgb(61, 61, 61);*/
  margin: 0 0 5px 0;
  text-align: center;
}

#text_about_us{
  margin: 20  px 15px 0 15px;
}

/********************\
    PAGE REVENDEUR
\********************/

.title_stockist{
  position: absolute;
  top: 120px;
  height: auto;
  width: 100%;
}

.title_stockist h3{
  text-align: center;
}

.content_stockist{
  position: relative;
  top: 180px;
  height: auto;
  text-align: center;
}

.content_stockist img{
  height: auto;
  width: 100%;
}

/******************\
    PAGE CONTACT
\******************/

#title_contact{
  position: absolute;
  top: 130px;
  height: auto;
  width: 100%;
}

#title_contact p{
  text-align: center;
}

/*form styles*/
.msform {
	position: relative;
  top: 250px;
  font-family: 'montserrat', arial, verdana;
	width: 100%;
	text-align: center;
}

.msform fieldset {
	/*stacking fieldsets above each other*/
	position: relative;
	box-sizing: border-box;
	width: 80%;
  margin: 0 10% 20px 10%;
  border: 0 none;	
}

/*inputs*/
.msform input, .msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'montserrat';
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
.msform .action-button {
	width: 100px;
	background: rgb(9, 81, 238);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 15px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #0951ee;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 30px;
}

/**********************\
    PAGE INSCRIPTION
\**********************/

.form_inscription{
  top: 130px;
}

.checkbox_inscription{
  display: flex;
  width: 10%;
}

.checkbox_inscription p{
  margin: 0 0 10px 15px;
  padding: 0;
}

.checkbox_inscription input{
  height: 9px;
  width: 9px;
}

.checkbox_inscription input[type="radio"]{
  -webkit-appearance: radio;
}

/****************\
      FOOTER
\****************/

footer{
  position: relative;
  bottom: -250px;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.social_media{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width:100%;
  height: auto;
  justify-content: center;
}

.social_icones{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.conditions_ventes{
  position: relative;
}

.conditions_ventes p{
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}

.copyright{
  text-align: center;
  padding-bottom: 5px;
  color: rgb(109, 109, 109);
}