@font-face{
    font-family: "luniver";
    src: url('../font/Josephin.ttf');
}

h1{
    font-family: "luniver";
}

body, html {
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.scroll{
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: #000;
}

/******************\
        MENU
\******************/

#checkbox_menu{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

nav {
    width: 110px;
    height: 100%;
    position: relative;
    z-index: 9999;

}

nav .toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    left: 30px;
    transform: rotateZ(45deg) translateX(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    z-index: 9999;
}

nav .toggle .burger {
    position: relative;
    width: 20px;
    top: 13px;
    left: 10px;
    -webkit-transform: rotateZ(135deg) translateX(0px);
    transform: rotateZ(135deg) translateX(0px);
}

nav .toggle span {
    width: 20px;
    height: 2px;
    background: #000;
    margin-bottom: 4px;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

nav .toggle-active {
    position: fixed;
    -webkit-transform: rotateZ(225deg) translateX(0px);
    transform: rotateZ(225deg) translateX(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

nav .toggle-active span:first-child {
    opacity: 1;
    top: 6px;
    position: relative;
    visibility: visible;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav .toggle-active span {
    opacity: 0;
    visibility: hidden;
}

nav .toggle-active span:last-of-type {
    opacity: 1;
    position: relative;
    top: -6px;
    visibility: visible;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nav-wrapper {
    width: 80%;
    height: 100%;
    display: block;
    position: fixed;
    left: -100%;
    background: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-wrapper ul {
    position: absolute;
    top: 60px;
    left: -100px;
    padding: 0;
    list-style-type: none;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}

.nav-wrapper ul li {
    width: 90%;
    height: 50px;
    padding-left: 30px;
    position: relative;
    display: table;
    font-weight: bold;
}

.nav-wrapper ul li:before {
    content: " ";
    width: 5px;
    height: 100%;
    background: rgb(99, 99, 99);
    position: absolute;
    left: -10px;
    -webkit-transition: .3s;
    transition: .3s;
}

.nav-wrapper ul li:hover:before {
    left: 0;

}

.nav-wrapper ul li a {
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.nav-wrapper ul .current:before {
    content: " ";
    width: 5px;
    height: 100%;
    background: rgb(82, 82, 82);
    position: absolute;
    left: 0;
}

.nav-wrapper .active {
    left: 0;
    opacity: 1;
}

.nav-wrapper-active {
    width: 80%;
    left: 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.nav-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #ccc;
    z-index: 5;
    display: none;
}

#img_shopping_cart{
    padding-top: 5px;
    height: 30px;
    width: auto;
}

#shopping-cart{
    position: absolute;
    top: 35px;
    right: 25px;
}

#shopping-cart a{
    height: 50px;
    display: flex;
}

#notification-icon span{
    z-index: 99;
    vertical-align: middle;
}

#notification-icon {
    position: absolute;
    right: -10px;
    height: 18px;
    width: 18px;
    //border: solid 1px black;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    background-color: #0951EE;
    color: white;
    text-align: center;
    font-size: 14px;
}

/** =======================
 * accordeon
 ===========================*/

.accordion {
    width: 100%;
    max-width: 360px;
    background: #FFF;
}

#dropdown_menu{
    top: 50px;
}

.link {
    padding: 14px 0 0 0;
}

.accordion .link {
    cursor: pointer;
    display: block;
    font-size: 25px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion span {
    padding-right: 9px;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link { color: #0951EE; }

.accordion li.open i { color: #0951EE; }

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
    display: none;
    background: #fff;
    font-size: 14px;
}

.submenu a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 12px;
    padding-left: 20px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #0951EE;
    color: #FFF;
}


/********************\
    PAGE D'ACCUEIL
\********************/

.title_tel{
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#container_home{
    height: auto;
    position: relative;
    top: 120px;
}

#container_home p{
    background-color: rgb(61, 61, 61);
    height: 220px;
    margin: 0 0 5px 0;
    color: #fff;
    text-align: center;
    font-size: 80px;
}

/*******************\
    PAGE BOUTIQUE
\*******************/

#container_shop{
    position: relative;
    top: 140px;
    text-align: center;
}

.container_produit_boutique{
    display: inline-block;
    margin: 0 10px 30px 10px;
    width: 42%;
    max-width: 200px;
    border: solid 1px black;
}

#container_shop p:first-child{
    margin: 10px 0px 10px 0px;
}

.ligne_produit_boutique{
    height: 1px;
    width: auto;
    margin: 0 13px 0 13px;
    background-color: #595959;
}

.desc_produit_boutique{
    margin: 0;
}

.desc_produit_boutique p:first-child{
    //border-top: solid 1px black;
}

.desc_produit_boutique p{
    font-size: 14px;
    padding: 0 10px 0 10px;
}

#container_shop img{
    /*height: 125px;*/
    /*width: auto;*/
    height: auto;
    width: 100%;
}

/*******************\
    PAGE A PROPOS
\*******************/

#title_about_us{
    position: absolute;
    top: 120px;
    height: auto;
    width: 100%;
}

#title_about_us h2{
    text-align: center;
    font-size: 27px;
}

#container_about_us{
    position: relative;
    top: 190px;
    height: auto;
    text-align: center;
}

#container_about_us img{
    height: auto;
    width: 100%;
}

#picture_about_stockist{
    /*background-color: rgb(61, 61, 61);*/
    margin: 0 0 5px 0;
    text-align: center;
}

#text_about_us{
    margin: 20px 15px 0 15px;
}

/********************\
    PAGE REVENDEUR
\********************/

.title_stockist{
    position: absolute;
    top: 120px;
    height: auto;
    width: 100%;
}

.title_stockist h3{
    text-align: center;
}

.content_stockist{
    position: relative;
    top: 180px;
    height: auto;
    text-align: center;
}

.content_stockist img{
    height: auto;
    width: 100%;
}

/******************\
    PAGE CONTACT
\******************/

#title_contact{
    position: absolute;
    top: 130px;
    height: auto;
    width: 100%;
}

#title_contact p{
    text-align: center;
}

/*form styles*/
.msform {
    position: relative;
    top: 250px;
    font-family: arial, verdana;
    width: 100%;
    text-align: center;
}

.msform fieldset {
    /*stacking fieldsets above each other*/
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 20px 10%;
    border: 0 none;
}

#form_contact_content{
    margin-bottom: 100px;
}

/*inputs*/
.msform input, .msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

/*buttons*/
.msform .action-button {
    width: 100px;
    background: rgb(9, 81, 238);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 15px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0951ee;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 30px;
}

/**********************\
    PAGE INSCRIPTION
\**********************/

.form_inscription{
    top: 130px;
}

#civilite_inscription{
    margin: 25px 0 0 0;
}

.checkbox_inscription{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 0 15px 0;
}

.checkbox_inscription p{
    margin: 0 0 10px 15px;
    padding: 0;
}

.checkbox_inscription input{
    height: 9px;
    width: 9px;
}

#submit_inscription{
    margin: 15px 0 0 0;
}

#submit_inscription p{
    padding: 15px 0 0 0;
}

#password_inscri{
    position: relative;
    display: flex;
}

.password + .unmask {
    position:absolute;
    top: 12px;
    right: 12px;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: #aaa;
    border-radius: 50%;
    cursor:pointer;
    border: none;
    -webkit-appearance:none;
}

.password + .unmask:before {
    content: "";
    position:absolute;
    top:4px; left:4px;
    width: 17px;
    height: 17px;
    background: #e3e3e3;
    z-index:1;
    border-radius: 50%;
}

.password[type="text"] + .unmask:after {
    content: "";
    position:absolute;
    top:6px; left:6px;
    width: 13px;
    height: 13px;
    background: #aaa;
    z-index:2;
    border-radius: 50%;
}

/***********************\
    PAGE LISTECLIENT
\***********************/

#ajoutClient{
    position: relative;
    left: 46%;
}

/*******************\
    PAGE PRODUIT
\*******************/

#container_produit{
    position: relative;
    top: 150px;
    height: auto;
    text-align: center;
}

#previsu_img_produit{
    position: relative;
}

#img_principale_produit{
    height: 200px;
    width: auto;
}


#mini_img_produit{
    display: flex;
    height : auto;
    width: 100%;
    justify-content: center;
}
#mini_img_produit img{
    height: 100px;
    width: auto;
}

#info_produit{
    text-align: left;
    margin: 0px 0px 0px 50px;
}

#quantite_produit, #taille_produit{
    display: flex;
    position: relative;
}

#input_quantite_produit{
    height: 25px;
    width: 30px;
    margin: 0 0 0 10px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin:0;
}

#taille{
    display: flex;
    top: 60%;
    left: 50%;
    transform: translate(10%, 30%);
}

.cont_taille_produit{
    position: relative;
}

.taille_produit{
    padding: 10px 20px;
    margin: 5px;
    position: relative;
    background-color: #0951EE;
    border: none;
    color: #fff;
}

.radio_taille_produit{
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#radioS:checked ~ label[for='radioS'],#radioM:checked ~ label[for='radioM'],#radioL:checked ~ label[for='radioL']{
    background-color: red;
}

.btn-add-to-cart {
    color: white;
    padding: 1rem 1.6rem;
    background-color: #0951EE;
    min-width: 130px;
    min-height: 16px;
    border-radius: 1px;
}

.btn-add-to-cart:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0951ee;
}

.btn-add-to-cart__icon-validate {
    transition: all .2s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 10px;
    height: 6px;
    display: none;
    transform: rotate(-45deg);
    border-bottom: 2px solid transparent;
}
.btn-add-to-cart__icon-validate-inside {
    transition: all .2s ease;
    height: 6px;
    width: 10px;
    position: absolute;
    border-left: 2px solid transparent;
}
.btn-add-to-cart__text {
    padding-left: 12px;
    height: 16px;
}

.btn-add-to-cart-validate {
    background-color: #000;
    min-width: 130px;
    min-height: 16px;
}
.btn-add-to-cart-validate .btn-add-to-cart__content {
    position: relative;
}
.btn-add-to-cart-validate .btn-add-to-cart__content .icon-plus {
    display: none !important;
}
.btn-add-to-cart-validate .btn-add-to-cart__icon-validate {
    display: inline-block !important;
    animation: .5s ease animation1 forwards;
    animation-delay: .1s;
}
.btn-add-to-cart-validate .btn-add-to-cart__icon-validate-inside {
    animation: .5s ease animation2 forwards;
}
.btn-add-to-cart-validate .btn-add-to-cart__text {
    padding-left: 24px;
    height: 16px;
}

@keyframes animation1 {
    from {
        border-bottom: 2px solid transparent;
    }
    to {
        border-bottom: 2px solid white;
    }
}
@keyframes animation2 {
    from {
        border-left: 2px solid transparent;
    }
    to {
        border-left: 2px solid white;
    }
}
.icon-plus {
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0;
    left: 0;
}

.icon-plus:after {
    background-color: #fff;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top: 7px;
    left: 4px;
    content: "";
}

.icon-plus:before {
    background-color: #fff;
    width: 2px;
    height: 10px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top: 3px;
    left: 8px;
    content: "";
}

.btn {
    font-family: 'Helvetica';
    display: inline-block;
    text-decoration: none;
    margin: auto;
    transition: all .3s ease;
}
.btn__content {
    display: flex;
    align-items: center;
    font-size: 13px;
}

#trait_detail_produit{
    height: 1px;
    width: 80%;
    background-color: #000;
}

/******************\
    PAGE PANIER
\******************/


/*------------------------- 1. Core Css -------------------*/

.row{
    position: relative;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    line-height: 1.5;
    font-family: sans-serif;
}

.card {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02);
}

/*------------------------- END Core Css -------------------*/


/*-------------------- 22. Invoice ------------------- */

.invoice-area {}

.invoice-head {
    margin-bottom: 30px;
    border-bottom: 1px solid #efebeb;
    padding-bottom: 20px;
}

.invoice-head .iv-left span {
    color: #444;
}

.invoice-head span {
    font-size: 21px;
    font-weight: 700;
    color: #777;
}

.invoice-address h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.invoice-address h5 {
    font-size: 17px;
    margin-bottom: 10px;
}

.invoice-address p {
    font-size: 15px;
    color: #555;
}

.invoice-date li {
    font-size: 15px;
    color: #555;
    font-weight: 700;
    margin-bottom: 5px;
}

.invoice-table {}

.invoice-table .table-bordered td,
.invoice-table .table-bordered th {
    border: 1px solid rgba(120, 130, 140, 0.13) !important;
    border-left: none!important;
    border-right: none!important;
}

.invoice-table tr td {
    color: #666;
}

.invoice-table tfoot tr td {
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
}

.invoice-buttons a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #815ef6;
    padding: 12px 19px;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-left: 6px;
}

.invoice-buttons a:hover {
    background: #574494;
}

.table{
    text-align: right !important;
    width: 100%;
    border-collapse: collapse;
}

.text-capitalize{
    text-transform: capitalize !important;
}

.table td, .table th{
    padding: .75rem;
}

.text-center{
    text-align: center !important;
}

.text-left{
    text-align: left !important;
}

.img_panier{
    height: 120px;
    width: auto;
}

/*-------------------- END Invoice ------------------- */

/****************\
      FOOTER
\****************/

footer{
    position: relative;
    bottom: -200px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.social_media{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width:100%;
    height: auto;
    justify-content: center;
}

.social_icones{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.conditions_ventes{
    position: relative;
}

.conditions_ventes p{
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
}

.copyright{
    text-align: center;
    padding-bottom: 5px;
    color: rgb(109, 109, 109);
}

