// sass variables
$color-a: #222;
$color-b: dodgerblue;
$color-c: limegreen;
$color-d: gold;
$color-e: orange;
$color-bg: whitesmoke;

$themes: ("blue", "green", "gold", "orange");
$theme-color: (
  "blue": $color-b,
  "green": $color-c,
  "gold": $color-d,
  "orange": $color-e
);

// base formatting
* {
  box-sizing: border-box;
}
body {
  background: $color-bg;
  margin: 2vw;
  width: 96vw;
}
.l-states {
  display: flex;
  justify-content: space-between;
}
section {
  flex-grow: 1;
  text-align: center;
}
h2 {
  text-align: center;
}
h5 {
  margin: 1.5em 0 .4em;
}
h6 {
  margin: 1em 0 .4em;
}
.btn {
  margin-bottom: .5em !important;
}

.btn {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px $color-a;
  color: $color-a;
  display: inline-block;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  margin: 0;
  min-width: 160px;
  padding: 0 1.5em;
  position: relative; // added
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  width: auto;
  &:hover, &:active, &:focus {
    box-shadow: inset 0 0 0 1px $color-b;
    color: $color-b;
    outline: none;
  }
  &:disabled {
    &, &:hover, &:active, &:focus {
      box-shadow: inset 0 0 0 1px tint($color-a, 70%);
      color: tint($color-a, 70%);
      pointer-events: none;
    }
  }

  &-loading {
    pointer-events: none;
    &:after {
      animation: btn-loading 1s linear infinite;
      background: repeating-linear-gradient(
        -60deg,
        rgba(white, .15),
        rgba(white, .15) 1em,
        rgba(black, .15) 1em,
        rgba(black, .15) 2em /* determines size */
      );
      background-size: 200%;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      
      @keyframes btn-loading {
        from {
          background-position: -4em 0;
        }
        to {
          background-position: -1.7em 0;
        }
      }
    }
  }
  
  &-primary,
  &-secondary {
    background: $color-a;
    color: $color-bg;
    &:hover, &:active, &:focus {
      background: $color-b;
      color: white;
    }
    &:disabled {
      &, &:hover, &:active, &:focus {
        background: tint($color-a, 70%);
        color: $color-bg;
      }
    }
  }
}

@each $theme in $themes {
  .t-#{$theme} {
    .btn {
      &:hover, &:active, &:focus, &-loading {
        box-shadow: inset 0 0 0 1px map-get($theme-color, $theme);
        color: map-get($theme-color, $theme);
      }
      &-loading {
        background: map-get($theme-color, $theme);
        color: white;
      }
      &-primary {
        &:hover, &:active, &:focus {
          background: map-get($theme-color, $theme);
          color: white;
        }
      }
    }
  }
}
