.btn-add-to-cart {
  color: white;
  padding: 1rem 1.6rem;
  background-color: black;
  min-width: 130px;
  min-height: 16px;
  &__icon-validate {
    transition: all .2s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 10px;
    height: 6px;
    display: none;
    transform: rotate(-45deg);
    border-bottom: 2px solid transparent;
    &-inside {
      transition: all .2s ease;
      height: 6px;
      width: 10px;
      position: absolute;
      border-left: 2px solid transparent;
    }
  }
  &__text {
    padding-left: 12px;
    height: 16px;
  }
}

.btn-add-to-cart-validate {
  background-color: #A62833;
  min-width: 130px;
  min-height: 16px;
  .btn-add-to-cart__content {
    position: relative;
    .icon-plus {
      display: none !important;
    }
  }
  .btn-add-to-cart__icon-validate {
    display: inline-block !important;
    animation: .5s ease animation1 forwards;
    animation-delay: .1s;
  }
  .btn-add-to-cart__icon-validate-inside {
    animation: .5s ease animation2 forwards;
  }
  .btn-add-to-cart__text {
    padding-left: 24px;
    height: 16px;
  }
}
@keyframes animation1 {
  from {
    border-bottom: 2px solid transparent;
  }

  to {
    border-bottom: 2px solid white;
  }
}

@keyframes animation2 {
  from {
    border-left: 2px solid transparent;
  }

  to {
    border-left: 2px solid white;
  }
}
.icon-plus {
background-color: transparent;
border-radius:8px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
width: 16px;
height: 16px;
position: relative;
top:0;
left:0;
}
.icon-plus:after {
background-color: #fff;
width: 10px;
height: 2px;
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
position: absolute;
top:7px;
left: 4px;
  content:"";
}
.icon-plus:before {
background-color: #fff;
width: 2px;
height: 10px;
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
position: absolute;
top: 3px;
left: 8px;
  content:"";
}

body {
  background-color: #E8E3D9;
  display: flex;
  height: 100vh;
  font-family: 'Helvetica';
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin: auto;
  transition: all .3s ease;
  &__content {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
}